@import '../styles/common.css';

.game-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Limit to 3 cards per row */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .game-card-container {
    grid-template-columns: repeat(2, 1fr); /* Adjust to 2 cards per row for smaller screens */
  }
}

@media (max-width: 768px) {
  .game-card-container {
    grid-template-columns: 1fr; /* Adjust to 1 card per row for mobile screens */
  }
}

.game-card {
  background-color: #2c2c2c;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 10px;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-cover {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures the image covers the container without stretching */
}

.game-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.game-title {
  font-size: 1.5rem; /* Adjust this value to control the font size of game names */
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 0.8rem;
  line-height: 1.2;
}

.game-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.game-release {
  font-size: 0.875rem;
  color: #b0b0b0;
}

.game-popularity {
  font-size: 0.875rem;
  color: #b0b0b0;
}